 h2{
                color: rgb(255, 151, 151);
                font-size: 40px;
                font-style: italic;
            }

p,o1{
    color: rgb(226, 92, 77);
}

.h2_sel
{
    color: rgb(167, 190, 167);
}

h1{
    color: rgb(65, 65, 226);
    font-size: 60px;
    font-style: inherit;
}

.image1:hover{
    transform: translate(30px,-30px);
    border-radius:50%
}

.image2 {
    border-radius:50%;
}
    

.image3{
    border-radius:30px;
}

.image4{
    opacity: 0.8;
    border-radius:30%
}

.image5{
    filter: blur(4px);
    border-radius:10px;
}

h3{
    font-size: 40px;
    font-style: unset;
    
}

.image10:hover{
    transform: skew(50deg, -15deg);
    filter: grayscale(100%);
}

@keyframes move_imge{
    0%{transform: translate(30px,30px);}
    50%{transform: translate(60px,60px);}
    100%{transform: translate(120px,120px);}
}

.image2_animation{
    animation-name: move_imge;
    animation-duration: 4s;
    animation: move_imge 5s infinite;
}

@keyframes www{
     0%{transform: scale(10px);}
    50%{transform: scale(30px);}
    100%{transform: scale(50px);}
}
   

.h2_animation{
    animation-name: www;
    animation-duration: 10s;
    animation: www 5s;
}
